$yellow:#3ea12d;
$red: #db2814;
$green:#3ea12d;
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}
footer{
	padding: 10px 10px 0 10px;
	background-color:  $yellow;
	@include margenes(10px, 0px);
.card-hotel{
	flex: 200px;
	
	@include margenes(10px, 0px);
}
.btn-reserve{
	width: 100%;
	border-radius: 0px; 


}
.footer-adderss-icon{
	padding-right: 10px;

}

.tab-content{
	padding-top: 10px;
}