.jumbotron {
  background-color: #dbd114;
  color: black;
  margin-top: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #dbd114;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 200px;
  margin-top: 10px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.footer-adderss-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
